<?xml version="1.0" encoding="UTF-8"?>


<configuration  debug="false">
    <property name="LOG_PATTERN" value="%d{HH:mm:ss.SSS} | %5p | %scc(${spring.application.name},#{ZKML-SPAN-NAME},#{ZKML-SPAN-TYPE} | #{ZKML-TRACE-ID},#{ZKML-PARENT-SPAN-ID},#{ZKML-SPAN-ID},#{ZKML-FINISH-TIME}) | %thread | %logger{36} | %msg%n" />
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <file>log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>log.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
